.subfooter-container {
  padding: 16px;
  background-color: #f0f0f0;
}

  .ant-col {
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  .ant-typography svg {
    color: var(--color);
    margin-right: 8px;
    flex-shrink: 0;
    transition: transform 0.3s ease;
  }
  
  
/* 
.ant-typography h3 {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color);
} */

/* .ant-typography .ant-space-item {
  display: flex;
  align-items: center;
  margin: 8px 0;
  font-size: 14px;
  color: #333;
  transition: color 0.3s ease;
}

.ant-typography a {
  text-decoration: none;
  color: inherit;
  flex-grow: 1;
}


.ant-typography a:hover {
  color: var(--color);
}

.ant-typography .ant-space-item:hover svg {
  transform: translateX(4px);
} */