.tour-parent{
    padding-block:30px;
    background-image: url(../../assets//compoImg.jpg);
}
.dubai-head{
    color: white;
}
.view-more2{
    display: flex;
    justify-content: center;
}
.view-more2 button{
    border: none;
    border-radius: 7px;
    background: #dcdcdc;
    padding: 10px 30px;
    color: var(--category-color);
    margin-top: 30px;
    font-weight: 700;
}