.logo {
    width: 135px;
}

.header {
    padding: 0;
}

.nav-link-parent {
    display: inline-block;
    position: relative;
    margin: 0 10px;
}

.navbar-brand {
    padding: 0;
}


.nav-links {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
    padding: 0px;
}

.nav-links:hover {
    color: var(--color);
    border-bottom: 1px solid var(--color);
}

#basic-nav-dropdown {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    font-size: 16px;
    color: var(--text-color);
    font-weight: 600;
}

#basic-nav-dropdown:hover {
    color:var(--color) ;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
    color: var(--color);
}

.link {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    color: var(--color);
}

.dropDawn-cont {
    padding: 0px 20px;
    width: 400px;
}

.dropDawn-cont1 {
    padding: 0px 20px;
    width: 475px;
}

.drop-items {
    padding: 10px 0px;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color);
}

.divider {
    height: 1px;
    background-color: #ccc;
    margin: 0;
}

.dropDownLinks {
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
}