.logo {
    width: 135px;
}
.header{
    padding: 0;
}
.nav-link-parent {
    display: inline-block; 
    position: relative; 
    margin: 0 10px; 
}
.navbar-brand{
    padding: 0;
}

.nav-link-parent:hover {
    border-bottom: 1px solid #de3030; 
}

.nav-links {
    display: inline-block; 
    font-weight: 500;
    font-size: 16px;
    color: #555e69;
    text-decoration: none; 
    padding: 0px; 
}

.nav-links:hover {
    color: #de3030;
    border-bottom: 1px solid #de3030; 
}

#basic-nav-dropdown {
    display: inline-block;
    margin: 0 10px; 
    padding: 0; 
    font-size: 16px;
    color: #555e69;
    font-weight: 600;
}

#basic-nav-dropdown:hover {
    color: #de3030;
}

.dropdown-item:hover {
    background-color: #f8f9fa;  
    color: #de3030; 
}

.link{
color: #555e69;
text-decoration: none;
font-weight: 600;
}
.dropDawn-cont {
    padding: 0px 20px;
    width: 320px;
}
.dropDawn-cont1{
    padding: 0px 20px;
    width: 475px;
}
.drop-items{
    padding: 10px 15px ;
    font-size: 16px;
    font-weight: 500;
    color: #555e69;

}
.divider {
    height: 1px;
    background-color: #ccc;
    margin: 0;
}
.dropDownLinks{
    color:#555e69 ;
    text-decoration: none;
    font-size: 14px;
}