.crousel {
    position: relative; /* Carousel container to position the WhatsApp icon */
}

.crousel-image {
    width: 100vw;
}

.whatsappLogo {
    /* color: green; */
    position: fixed; 
    font-size: 50px;
    bottom: 50px;  
    left: 20px;
    z-index: 10;
    pointer-events: none; 
    cursor: pointer;
}
